<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/jquery.js"></script>
    <script type="text/javascript">jQuery.noConflict();</script>

    <!--<link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.2/js/bootstrap.min.js"></script>-->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Rokkitt' rel='stylesheet' type='text/css' />
    <!--
    <link href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:200,300,400,600,700,900,200italic,300italic,400italic,600italic,700italic,900italic|Dosis:200,300,400,500,600,700,800|Abel|Droid+Sans:400,700|Lato:100,300,400,700,900,100italic,300italic,400italic,700italic,900italic|Lora:400,700,400italic,700italic|PT+Sans:400,700,400italic,700italic|PT+Sans+Narrow:400,700|Quicksand:300,400,700|Ubuntu:300,400,500,700,300italic,400italic,500italic,700italic|Lobster|Ubuntu+Condensed|Oxygen:400,300,700|Oswald:700,400,300|Open+Sans+Condensed:300,700,300italic|Roboto+Condensed:300italic,400italic,700italic,400,700,300|Open+Sans:300italic,400italic,600italic,700italic,800italic,800,700,400,600,300|Prosto+One|Francois+One|Comfortaa:700,300,400|Raleway:300,600,900,500,400,100,800,200,700|Roboto:300,700,500italic,900,300italic,400italic,900italic,100italic,100,500,400,700italic|Roboto+Slab:300,700,100,400|Share:700,700italic,400italic,400' rel='stylesheet' type='text/css'>
    -->
    <base />
    <meta http-equiv="content-type" content="text/html; charset=utf-8" />
    <meta name="generator" content="Joomla! - Open Source Content Management" />
    <title>Home</title>
    <link href="indexc0d0.html?format=feed&amp;type=rss" rel="alternate" type="application/rss+xml" title="RSS 2.0" />
    <link href="index7b17.html?format=feed&amp;type=atom" rel="alternate" type="application/atom+xml" title="Atom 1.0" />
    <link href="templates/vtm050106/favicon.ico" rel="shortcut icon" type="image/vnd.microsoft.icon" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/font-awesome.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/megnor/bootstrap.min.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/style.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/vm-ltr-common.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/vm-ltr-site.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/vm-ltr-reviews.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/components/com_virtuemart/assets/css/jquery.fancybox-1.3.40f38.css?vmver=8847"
          type="text/css" />
    <link rel="stylesheet" href="~/themes/components/com_virtuemart/assets/css/chosen0f38.css?vmver=8847" type="text/css" />
    <script src="~/themes/media/jui/js/jquery.min.js" type="text/javascript"></script>
    <script src="~/themes/media/jui/js/jquery-noconflict.js" type="text/javascript"></script>
    <script src="~/themes/media/jui/js/jquery-migrate.min.js" type="text/javascript"></script>
    <script src="~/themes/media/system/js/caption.js" type="text/javascript"></script>
    <script src="~/themes/templates/vtm050106/javascript/custom.js" type="text/javascript"></script>
    <script src="~/themes/templates/vtm050106/javascript/circle-progress.js" type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/jquery-ui.min0f38.js?vmver=8847" type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/jquery.ui.autocomplete.html0f38.js?vmver=8847"
            type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/jquery.noconflict0f38.js?vmver=8847" type="text/javascript"
            async="async"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/vmsite0f38.js?vmver=8847" type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/fancybox/jquery.fancybox-1.3.4.pack0f38.js?vmver=8847"
            type="text/javascript" defer="defer"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/vmprices0f38.js?vmver=8847" type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/chosen.jquery.min0f38.js?vmver=8847"
            type="text/javascript"></script>
    <script src="~/themes/components/com_virtuemart/assets/js/dynupdate0f38.js?vmver=8847" type="text/javascript"></script>
    <script src="~/themes/modules/mod_virtuemart_cart/assets/js/update_cart0f38.js?vmver=8847" type="text/javascript"></script>
    <script type="text/javascript">
        jQuery(window).on('load', function () {
            new JCaption('img.caption');
        });

        //<![CDATA[

        //]]>

    </script>


    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/megnor/flexslider.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/megnor/carousel.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/megnor/responsive.css" type="text/css" />
    <link rel="stylesheet" href="~/themes/templates/vtm050106/css/megnor/responsive.css" type="text/css" />


    <script type="text/javascript"></script>
    <!--[if IE 7]>
    <link type="text/css" rel="stylesheet" href="/virtuemart/VTM05/VTM050106/templates/vtm050106/css/style_ie7.css"/>
    <![endif]-->
    <!--[if IE 8]>
    <link type="text/css" rel="stylesheet" href="/virtuemart/VTM05/VTM050106/templates/vtm050106/css/style_ie8.css"/>
    <![endif]-->
    <!--[if IE 9]>
    <link type="text/css" rel="stylesheet" href="/virtuemart/VTM05/VTM050106/templates/vtm050106/css/style_ie9.css"/>
    <![endif]-->


</head>
<body>
    <div class="header">
        <div id="header">
            <div class="header-top">


                <div class="container">
                    <div class="row">
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">

                        </div>
                        <div class="col-lg-6 col-md-6 col-sm-6 col-xs-12">
                            <div class="moduletable_currency">

                                <!-- Currency Selector Module -->
                                <div class="currency">

                                    <form action="http://demos.templatemela.com/virtuemart/VTM05/VTM050106/index.php/my-store/fruits/images-list-detail?showall=1"
                                          method="post">

                                        <select id="virtuemart_currency_id" name="virtuemart_currency_id"
                                                class="inputbox vm-chzn-select" onchange="this.form.submit()">
                                            <option value="52">British pound &pound;</option>
                                            <option value="26">Canadian dollar $</option>
                                            <option value="47" selected="selected">Euro &euro;</option>
                                            <option value="144">United States dollar $</option>
                                        </select>
                                    </form>
                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>
            <div class="header-lower">
                <div class="container">
                    <div class="row">
                        <div class=" logo-content ol-lg-5 col-md-5 col-sm-6 col-xs-12">
                            <div id="logo">

                                <a href="@Url.Action("index","home")">
                                    <img src="~/themes/images/logo.jpg" alt="Logo" />
                                </a>
                            </div>
                        </div>


                        <div class="headeright col-lg-7 col-md-6 col-sm-6 col-xs-12">
                            <div class="moduletable_headercart">

                                <!-- Virtuemart 2 Ajax Card -->
                                <div class="vmCartModule _headercart" id="vmCartModule">
                                    <div class="cart_block">
                                        <i class="fa fa-shopping-cart"></i>
                                        <div class="total_products"> Cart empty</div>
                                    </div>
                                    <div class="cart-content">

                                        <div id="hiddencontainer" style=" display none; ">
                                            <div class="vmcontainer">
                                                <div class="product_row">
                                                    <span class="quantity"></span>&nbsp;x&nbsp;<span class="product_name"></span>

                                                    <div class="subtotal_with_tax" style="float: right;"></div>
                                                    <div class="customProductData"></div>
                                                    <br>
                                                </div>
                                            </div>
                                        </div>
                                        <div class="vm_cart_products">
                                            <div class="vmcontainer">

                                                Cart empty
                                            </div>
                                        </div>

                                        <div class="total" style="float: right;">
                                        </div>

                                        <div class="show_cart">
                                        </div>
                                    </div>

                                    <div style="clear:both;"></div>
                                    <div class="payments_signin_button"></div>
                                    <noscript>
                                        Please wait
                                    </noscript>
                                </div>


                                <script id="vm.CartModule.UpdateModule_js" type="text/javascript">
//<![CDATA[
                            jQuery(document).ready(function () {
                                jQuery("body").live("updateVirtueMartCartModule", function (e) {
                                    jQuery("#vmCartModule").updateVirtueMartCartModule();
                                });
                            }); //]]>
                                </script>
                            </div>
                            <div class="moduletable_headersearch">
                                <!--BEGIN Search Box -->
                                <form action="http://demos.templatemela.com/virtuemart/VTM05/VTM050106/index.php/my-store/search"
                                      method="get">
                                    <div class="search_headersearch">
                                        <div class="search-bg">
                                            <input name="keyword" id="mod_virtuemart_search" maxlength="22" alt="Search"
                                                   class="inputbox_headersearch" type="text" size="22" value="Search..."
                                                   onblur="if(this.value=='') this.value='Search...';"
                                                   onfocus="if(this.value=='Search...') this.value='';" /><input type="submit" value="Search" class="button_headersearch"
                                                                                                                 onclick="this.form.keyword.focus();" />
                                        </div>
                                    </div>
                                    <input type="hidden" name="limitstart" value="0" />
                                    <input type="hidden" name="option" value="com_virtuemart" />
                                    <input type="hidden" name="view" value="category" />
                                    <input type="hidden" name="virtuemart_category_id" value="0" />

                                </form>

                                <!-- End Search Box -->
                            </div>

                        </div>

                    </div>
                </div>
            </div>

            <div class=" outer-menu col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="container">
                    <div class="navigation">
                        <div class="row">
                            <div class="main_menu">
                                <nav id="site-navigation-main" class="navbar" role="navigation">
                                    <div class="navbar-header">
                                        <div class="navbar-toggle">
                                            Menu <i class="fa fa-bars"></i>
                                        </div>
                                    </div>
                                    <div id="main-navbar-collapse" class="navbar-collapse">
                                        <div class="moduletable">

                                            <div id="menu" class="dmenu">

                                                <ul class="main-navigation menu clearfix">


                                                    <li>
                                                        <div>
                                                            <a href="../couscous.html">Couscous</a>
                                                        </div>
                                                        <ul class="menu">
                                                            <li>
                                                                <div><a href="../couscous/cheese.html">Cheese</a></div>
                                                            </li>
                                                            <li>
                                                                <div><a href="../couscous/olives.html">olives</a></div>
                                                            </li>
                                                            <li>
                                                                <div><a href="../couscous/wine.html">wine</a></div>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li>
                                                        <div>
                                                            <a href="../deli.html">Deli</a>
                                                        </div>
                                                    </li>

                                                    <li class="active">
                                                        <div>
                                                            <a href="../fruits.html">Fruits</a>
                                                        </div>
                                                        <ul class="menu">
                                                            <li>
                                                                <div><a href="pineapples.html">Pineapples</a></div>
                                                            </li>
                                                            <li>
                                                                <div><a href="lycheeses.html">Lycheeses</a></div>
                                                            </li>
                                                            <li>
                                                                <div><a href="lemons.html">Lemons</a></div>
                                                            </li>
                                                        </ul>
                                                    </li>

                                                    <li>
                                                        <div>
                                                            <a href="../polenta.html">Polenta</a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div>
                                                            <a href="../rice%2cgrains-pasta.html">Rice,Grains & Pasta</a>
                                                        </div>
                                                    </li>

                                                    <li>
                                                        <div>
                                                            <a href="../vegitables.html">Vegitables</a>
                                                        </div>
                                                    </li>
                                                </ul>
                                            </div>

                                        </div>

                                    </div>
                                </nav><!-- #site-navigation -->
                            </div>

                            <div class="MainmenuBottom col-lg-12 col-md-12 col-sm-12 col-xs-12">
                                <div class="header-links">
                                    <div class="moduletable_leftmenu">
                                        <ul class="nav navbar-nav menu">
                                            <li class="item-122"><a href="@Url.Action("index","home")">Home</a></li>
                                            @{
                                                Html.RenderAction("AuthenticationLink", new { controller = "admin", area = "admin" });
                                            }
                                        </ul>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>
                </div>
            </div>


        </div> <!--id header-->
    </div> <!--class header-->

    <div id="wrapper" class="container">
        <div class="inner-main">
            <div class="subinner-main">
                <div class="row">

                </div>


                <div id="globalContent">

                    <div class="row">
                        <div class="sidebar-left col-lg-3 col-md-3 col-sm-3 col-xs-12">
                            <div class="moduletable_category">
                                <h3>Categories</h3>

                                <ul class="toggle VMmenu" id="VMmenu33_76991">

                                    <li class="VmClose">
                                        <div>
                                            <a href="../fruits.html">Fruits</a>
                                        </div>
                                        <ul class="menu">
                                            <li class="VmClose">
                                            <li>
                                                <div><a href="pineapples.html">Pineapples</a></div>
                                            </li>
                                            <li class="VmClose">
                                            <li>
                                                <div><a href="lycheeses.html">Lycheeses</a></div>
                                            </li>
                                            <li class="VmClose">
                                            <li>
                                                <div><a href="lemons.html">Lemons</a></div>
                                            </li>
                                        </ul>
                                    </li>

                                </ul>
                            </div>
                        </div>

                        <div id="contentBox" class="col-lg-9 col-md-9 col-sm-12 col-xs-12 leftside">
                            <div class="center-column">
                                @RenderBody()
                                <script>
                                    // GALT
                                    /*
                                     * Notice for Template Developers!
                                     * Templates must set a Virtuemart.container variable as it takes part in
                                     * dynamic content update.
                                     * This variable points to a topmost element that holds other content.
                                     */
                                    // If this <script> block goes right after the element itself there is no
                                    // need in ready() handler, which is much better.
                                    //jQuery(document).ready(function() {
                                    Virtuemart.container = jQuery('.productdetails-view');
                                    Virtuemart.containerSelector = '.productdetails-view';
                                    //Virtuemart.container = jQuery('.main');
                                    //Virtuemart.containerSelector = '.main';
                                    //});
                                    // Open print and manufacturer link to Modal window
                                    jQuery('a.printModal').click(function (e) {
                                        jQuery.fancybox({
                                            href: 'index.php?tmpl=component&option=com_virtuemart&view=productdetails&virtuemart_product_id=167&print=1',
                                            type: 'iframe',
                                            height: '500'
                                        });
                                        e.preventDefault();
                                    });
                                    jQuery('a.manuModal').click(function (e) {
                                        jQuery.fancybox({
                                            href: '/virtuemart/VTM05/VTM050106/index.php/my-store/manufacturers/duis-eu-dui?tmpl=component',
                                            type: 'iframe'
                                        });
                                        e.preventDefault();
                                    });


                                    jQuery(document).ready(function () {
                                        jQuery('#tab-container').easytabs();
                                    });
                                </script>

                            </div>
                        </div>
                    </div>

                </div>

            </div> <!--globalContent-->


        </div> <!--subinner-main-->
    </div> <!--inner-main-->
    </div> <!--wrapper-->

    <div class="footer">
        <div id="footer">
        </div>
        <div id="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="moduletable_menu">
                            <ul class="nav navbar-nav menu">
                                <li class="item-122"><a href="@Url.Action("index","home")">Home</a></li>
                                @{
                                    Html.RenderAction("AuthenticationLink", new { controller = "admin", area = "admin" });
                                }
                            </ul>
                        </div>
                    </div>
                    <div class="footer col-lg-12 col-md-12 col-sm-12 col-xs-12">
                        <div class="moduletable">
                            <div class="footer1">Copyright &#169; @DateTime.Now.Year Demo Store. All Rights Reserved.</div>
                        </div>

                    </div>
                </div>

            </div>
        </div>
        <a href="#" class="scrollup" style="display: none;">Scroll</a>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/megnor.min.js"></script>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/jquery.flexslider.js"></script>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/carousel.min.js"></script>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/jstree.min.js"></script>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/custom.js"></script>
        <script type="text/javascript" src="~/themes/templates/vtm050106/javascript/megnor/jquery.easytabs.js"></script>

    </div>
    @RenderSection("scripts", required: false)
</body>



@*<body>
        <div class="navbar navbar-inverse navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                </div>
                <div class="navbar-collapse collapse">
                    <ul class="nav navbar-nav">
                        @{
                            Html.RenderAction("AuthenticationLink", new { controller = "admin", area = "admin" });
                        }
                    </ul>

                </div>
            </div>
        </div>
        <div>
            @RenderBody()
        </div>
        <script src="~/js/jquery-2.1.1.min.js"></script>
        <script src="~/js/jquery-ui.min-1.11.1.js"></script>
        @RenderSection("scripts", required: false)
    </body>*@
</html>
